@charset "UTF-8";

*{margin:0; padding:0;}

body{
	font:14px "맑은 고딕";
	background:url(../img/2.jpg) no-repeat center center;
	background-attachment:fixed;
	background-size:100% 100%;
	
}

a{
	color:black;
	text-decoration:none;
}

.title{
	font-weight:bold;
	margin:0;

}

.content{
	background:#F0FFFF;
	border-radius:0.7rem;
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height:400px;
    max-width:400px;
    width:100%;
    position:fixed;
    overflow:hidden;
    top:50%;	
    left:70%;
    transform:translate(-70%,-50%);
    opacity:0.7	;
    animation-fill-mode:none;
    margin-bottom:10px;
}

.content_form{
	height:100%;
	position:absolute;
	right:0;
		
}

.form{
	background:#F0FFFF;
	width:400px;
	height:100%;
}

h3{
	padding:10px;
	text-align:center;
	margin:0 auto;
	font-size:1.8em;
	font-weight:bold;
}

th{
	display:inline-block;
	font-weight:bold;
	font-size:1.2em;
	margin-left:20px;
	margin-right:20px;
	box-sizing:border-box;
}

td{
	display:inline-block;
	margin-top:20px;
}

table{
	margin-top:10px;
	
}

table tr{
	margin-bottom:20px
}

input[type="text"],
input[type="password"]{
	margin-bottom:17px;
	padding:6px 40px;
	font-size:1.1em;
	box-sizing:border-box;
}

input[type="text"]:hover,
input[type="password"]:hover{
}

input[type="text"]:focus,
input[type="password"]:focus{
	outline:none;
}


input[type="submit"]{
	width:80%;
	padding:5px 20px;
	margin-left:40px;
	font-weight:bold;
	font-size:1.2em;
	background:	#F08080;
	box-sizing:border-box;
	border:none;
	cursor: pointer;
}



input[type="button"]{
	border:none;
	cursor: pointer;
	padding:5px 10px;
	
	color:#222;
}

input[type="button"]:nth-child(1) {
	margin-left:50px;
}









